<div class="section home">
	<div class="section__container">
		<div class="home__header">
			<div class="home__socials">@include('../social/social.html')</div>
			<div class="home__links">
				<a href="#" class="btn">Marketplace</a>
				<a href="#" class="btn">Go to App</a>
			</div>
		</div>
		<div class="home__content">
			<img
				width="541"
				height="416"
				src="./assets/img/home-logo.png"
				alt="Metavill social entertainment & defi platform"
				class="home__logo"
			/>
			<a href="#" class="btn btn_sm">
				<span>Explore Now</span>
				<svg class="btn__arrow">
					<use href="./assets/img/svg/sprite.svg#btn-arrow"></use>
				</svg>
			</a>
		</div>
	</div>
</div>
