<a href="#" target="_blank" class="social btn-reset">
	<svg class="social__icon fb">
		<use href="./assets/img/svg/sprite.svg#facebook"></use>
	</svg>
	<span class="visually-hidden">facebook</span>
</a>

<a href="#" target="_blank" class="social btn-reset">
	<svg class="social__icon ln">
		<use href="./assets/img/svg/sprite.svg#linkedIn"></use>
	</svg>
	<span class="visually-hidden">linkedIn</span>
</a>

<a href="#" target="_blank" class="social btn-reset">
	<svg class="social__icon pn">
		<use href="./assets/img/svg/sprite.svg#pinterest"></use>
	</svg>
	<span class="visually-hidden">pinterest</span>
</a>

<a href="#" target="_blank" class="social btn-reset">
	<svg class="social__icon tw">
		<use href="./assets/img/svg/sprite.svg#twitter"></use>
	</svg>
	<span class="visually-hidden">twitter </span>
</a>
