<div class="section whitepaper">
	<div class="section__container">
		<h2 class="whitepaper__tagline">Whitepaper</h2>
		<div class="whitepaper__content">
			<div class="whitepaper__info">
				<h3 class="whitepaper__title">Welcome to Metavill</h3>
				<div class="whitepaper__wrap">
					<p class="whitepaper__text">
						When an unknown printer took a galley of type and scrambled it to
						make a type specimen book. It has survived not only five centuries,
						but also the leap into electronic typesetting, remaining essentially
						unchanged.
					</p>
					<p class="whitepaper__text">
						Contrary to popular belief, Lorem Ipsum is not simply random text.
						It has roots in a piece of classical Latin literature from 45 BC,
						making it over 2000 years old. Richard McClintock, a Latin professor
						at Hampden-Sydney College in Virginia.
					</p>
				</div>
				<a href="#" class="btn btn_sm">
					<span>View More</span>
					<svg class="btn__arrow">
						<use href="./assets/img/svg/sprite.svg#btn-arrow"></use>
					</svg>
				</a>
			</div>
			<div class="whitepaper__img-wrapper">
				<img
					src="./assets/img/whitepaper-coins.png"
					alt="#"
					class="whitepaper__img"
				/>
			</div>
		</div>
	</div>
</div>
